@page "/"
@inject ExpensesClient ExpensesClient;
@inject IncomeClient IncomeClient;
@rendermode InteractiveServer

<PageTitle>Expense Tracker</PageTitle>

<p class="fs-5 txt-custom-dark text-center mb-4 mt-0">Manage your expenses with ease.</p>

<div class="mx-auto custom-w-60  py-3 bg-dark-custom rounded-2 shadow-sm ">
    <div class="text-center">
       <p class="text-white fs-5 fw-bold">@month</p>
    </div>

    <div class="text-center">
        <p class="fs-4 fw-bold text-white mt-1">Balance: 1,000</p>
    </div>

    <div class="d-flex justify-content-center align-items-center">
        <p class="fs-5 fw-bold txt-custom-danger  px-2">Total Expenses: £1,000</p>
        <p class="text-secondary fw-bold fs-5 mx-3 px-2 pb-1">|</p>
        <p class="fs-5 fw-bold text-white  px-2">Total Income: £2,000 </p>
    </div>

    <div class="d-flex justify-content-center align-items-center mx-auto mb-2">
        <a href="/addEditExpense" class="btn btn-danger py-2 px-3">
            <i class="bi bi-plus-circle-fill"></i>
            <span class="ps-1">Add New Expense</span>
        </a>
        <a href="/addEditIncome" class="btn bg-custom-btn-dark txt-custom-dark py-2  px-3 ms-4">
            <i class="bi bi-plus-circle-fill"></i>
            <span class="ps-1">Add New Income</span>
        </a>
    </div>
</div>

<HomeFilter OnSetItemView="SetItemView" />

<div class="py-2 my-3 mx-auto">
    @if (viewExpenses)
    {
        <ExpenseCard />
        <ExpenseCard />
        <ExpenseCard />
    }
    else
    {
        <IncomeCard />
        <IncomeCard />
    }   
</div>



@code{
    private string month = "August";

    private bool viewExpenses = true;

    private Expense[]? expenses;
    private Income[]? incomeList;

    protected override async Task OnInitializedAsync()
    {
        // expenses = await ExpensesClient.GetExpensesAsync();
        // incomeList = await IncomeClient.GetAllIncomeAsync();
    }

    private void SetItemView(bool val)
    {
        viewExpenses = val;
    }
}
