html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;   
}

.custom-w-80 {
    width: 80%;
}

.custom-w-60 {
    width: 60%;
}

.bg-dark-custom {
    background-color: #05515f;
}

.bg-custom-btn-dark {
    background-color: #6dbfb8;
}

.txt-custom-dark {
    color: #032830;
}

.txt-custom-danger {
    color: #f7d7da;
}

.custom-vh {
    min-height: 75vh;
}

.custom-mt1{
    margin-top: 0.4rem;
}

